{% extends "base.html" %}
{% block content %}
    <div class="content-section">
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{title}}</legend>
        </fieldset>
        <div class="form-group">
            This site has been created by an UUST student Kuznetsov K. PRO-327
            for the software design university course. Site is designed to serve as 
            a platform for publishing scientific papers. 

        </div>
    </div>

{% endblock content %}