{% extends "base.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{title}}</legend>

                <div class="form-group">
                    {{ form.publication_pdf.label() }}
                    {{ form.publication_pdf(class="form-control-file") }}
                    {% if form.publication_pdf.errors %}
                        {% for error in form.publication_pdf.errors %}
                            <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.description_prompt.label(class="form-control-label") }}
  
                    {% if form.description_prompt.errors %}
                        {{ form.description_prompt(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.description_prompt.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.description_prompt(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
            <div class="border-top pt-3">
                <small class="text-muted">
                    This document will be processed by a GPT model. This might take a while.
                </small>
            </div>
        </form>
    </div>
{% endblock content %}