{% extends "base.html" %}

{% block content %}
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ url_for('static', filename='thumbnails/' + publication.thumbnail) }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ publication.author.user.first_name }} {{ publication.author.user.surname }}</a>
        <small class="text-muted">{{ publication.upload_date.strftime('%Y-%m-%d %H:%M') }}</small>
      </div>
      <h4 class="article-title">{{ publication.title }}</h4>

      
      <h5 class="article-title">Authors:</h5>
      <p class="article-content">{{ publication.article_authors }}</p>

      <h5 class="article-title">Topic:</h5>
      <h6 class="article-content">{{ publication.topic.name }}</h6>
      <h5 class="article-title">Abstract</h5>
      <p class="article-content">{{ publication.abstract }}</p>
      <h5 class="article-title">Simple Description</h5>
      <p class="article-content">{{ publication.simple_desc }}</p>
      {% if current_user.is_authenticated %}
        {% if current_user.id == publication.author.id %}
        <div class="border-top pt-3">
          <a class="ml-4" href="{{ url_for('update_publication', publication_id=publication.id) }}">Edit</a>
          <a class="ml-4" href="{{ url_for('delete_publication', publication_id=publication.id) }}">Delete</a>
        </div>
        
        {% endif %}
      {% endif %}
      <div class="pt-3"></div>
    </div>
  </article>
{% endblock content %}
{% block doc %}
  <div class="media-body">
    <object data="{{url_for('static', filename ='publications/' + publication.publication_file)}}" type="application/pdf" style="min-height:100vh;width:100%"></object>
  </div>
{% endblock doc %}