{% extends "base.html" %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ url_for('static', filename='thumbnails/' + publication.thumbnail) }}">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ publication.author.user.first_name }} {{ publication.author.user.surname }}</a>
            <small class="text-muted">{{ publication.upload_date.strftime('%Y-%m-%d %H:%M') }}</small>
          </div>
      </div>
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Update Publication</legend>
                <div class="form-group">
                    {{ form.title.label(class="form-control-label") }}

                    {% if form.title.errors %}
                        {{ form.title(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.title.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.title(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                  {{ form.article_authors.label(class="form-control-label") }}

                  {% if form.article_authors.errors %}
                      {{ form.article_authors(class="form-control form-control-lg is-invalid") }}
                      <div class="invalid-feedback">
                          {% for error in form.article_authors.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.article_authors(class="form-control form-control-lg") }}
                  {% endif %}
                </div>
                <div class="form-group">
                    {{ form.abstract.label(class="form-control-label") }}
                    {% if form.abstract.errors %}
                        {{ form.abstract(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.abstract.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.abstract(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.simple_desc.label(class="form-control-label") }}
                    {% if form.simple_desc.errors %}
                        {{ form.simple_desc(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.simple_desc.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.simple_desc(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}